<a href="https://colab.research.google.com/github/JAHNAVI20221CCS0139/Data-Handling-and-Visualization/blob/main/series_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#example of creating pandas series
import pandas as pd
s1=pd.Series([-3,-2,-1,1,3,5,'gurav',7.3])
print(s1)

0       -3
1       -2
2       -1
3        1
4        3
5        5
6    gurav
7      7.3
dtype: object

In [4]:
#view index values
print(s1[2])

-1

In [5]:
#create your own lables
a=[1,3,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)

x    1
y    3
z    2
dtype: int64

In [6]:
#creating series from dictionary
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [7]:
print(s1[[2,1,0]])

2    -1
1    -2
0    -3
dtype: object

In [8]:
type(s1)

pandas.core.series.Series

In [9]:
#alternate way of creating series
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
print(s[['a','b','c']])

a    1
b    2
c    3
dtype: int64